{% extends 'base.html' %}
{% load static %}

{% block titulo %}

{% endblock titulo %}

{% block contenido %}

<h1>Lista de materias de {{grupo.semestre}}{{grupo.letra}}</h1>
<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Docente</th>
        {% if perms.auth.administrador_permiso %}
            <th>Acciones</th>
        {% endif %}
    </thead>
    <tbody>
        {% for materia in materias %}
            <tr>
            <td>
                <a href="{% url 'preinscripciones:ver_materia' materia.materia.id %}">
                    {{materia.materia.nombre}}
                </a>
            </td>
            <td>
                <a href="{% url 'docentes:ver_docente' materia.docente.id %}">
                    {{materia.docente.last_name}} {{materia.docente.first_name}}
                </a>
            </td>
                {% if perms.auth.administrador_permiso %}
                <td>
                    <button class="btn btn-danger" onclick="muestraModal('{% url 'preinscripciones:eliminar_grupo_materia_docente' grupo.id materia.id %}','materia','{{materia.materia.nombre}}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Eliminar
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table> 

{% if perms.auth.administrador_permiso %}
        <a href="{% url 'preinscripciones:agregar_materia_grupo' %}" class="btn btn-primary float-right">Asignar Materia a Grupo</a>
{% endif %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
            </div>
            <div id='contenido-modal' class="modal-body">        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <form id='formEliminar' method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}
<script>
    function muestraModal(url,tipo,usuario){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar a la ${tipo} ${usuario}?`;
    }
</script>
{% endblock js %}