{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Lista Aspirantes
{% endblock titulo %}

{% block contenido %}

<h1>Lista de Aspirantes de {{grupo.semestre}}{{grupo.letra}}</h1>
<table class="table">
    <thead>
        <th>Usuario</th>
        <th>Nombre(s)</th>
        <th>Apellidos</th>
        <th>Email</th>
        {% if perms.auth.administrador_permiso %}
            <th>Numero de aspirante</th>
            <th>Acciones</th> 
        {% endif %}
    </thead>
    <tbody>
        
        {% for aspirante in aspirantes %}
        <tr>
            <td>{{aspirante.username}}</td>
            <td>{{aspirante.first_name}}</td>
            <td>{{aspirante.last_name}}</td>
            <td>{{aspirante.email}}</td>
            {% if perms.auth.administrador_permiso %}
                <td>{{aspirante.num_aspirante}}</td>
                <td>
                    <a href="{% url 'preinscripciones:ver_aspirante' aspirante.id %}" class="btn btn-danger">Ver</a>
                    <button class="btn btn-danger" onclick="muestraModal('{% url 'preinscripciones:eliminar_aspirante_grupo' aspirante.id_grupo_aspirante %}','{{aspirante.last_name}} {{aspirante.first_name}}', '{{grupo.semestre}}{{grupo.letra}}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        <i class="glyphicon glyphicon-remove"></i>
                        Eliminar
                    </button>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table> 

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
            </div>
            <div id='contenido-modal' class="modal-body">        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <form id='formEliminar' method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}
<script>
    function muestraModal(url,aspirante,grupo){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar al aspirante ${aspirante} del grupo ${grupo}?`;
    }
</script>
{% endblock js %}