{% extends "base.html" %}
{% load static %}

{% block titulo %}
  Nueva Materia
{% endblock titulo %}


{% block contenido %}
<h1 class="titulo">Nueva Materia</h1>
<form class="formulario" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
{% endblock contenido %}