{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle Materia
{% endblock titulo %}

{% block contenido %}


<h1>Detalle Materia</h1>
<div class="container bootstrap snippet">
    
    <div class="row">
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Nombre</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" value="{{materia.nombre}}" disabled>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="descripcion"><h4>Descripción</h4></label>
                              <input type="text" class="form-control" name="descripcion" id="descripcion" value="{{materia.descripcion}}" disabled>
                            </div>
                      </div>
                      <div class="form-group">
                          
                        <div class="col-xs-6">
                          <label for="docentes"><h4>Docentes que la imparten</h4></label>
                          <ul name="docentes" id="docentes">
                            {% if materia.docentes != None %}
                                {% for docente in materia.docentes %}
                                <a href="{% url 'docentes:ver_docente' docente.id %}">
                                    {{docente.last_name}} {{docente.first_name}}
                                </a>
                                    <br>
                                {% endfor %}
                            {% else %}
                                No tiene docentes actualmente
                            {% endif %}
                          </ul>
                        </div>
                    </div>
             
             </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id='contenido-modal' class="modal-body">        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <form id='formEliminar' method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
<script>
    function muestraModal(url,tipo,usuario){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar al ${tipo} ${usuario}?`;
    }
</script>
{% endblock js %}