{% extends "base.html" %}
{% load static %}

{% block titulo %}
  Editar Materia
{% endblock titulo %}

{% block contenido %}
<h1 class="titulo">Editar Materia</h1>
<form class="formulario" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock contenido %}