{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle Docente
{% endblock titulo %}

{% block contenido %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<div class="container bootstrap snippet">
    
    <div class="row">
  		
    	<div class="col-sm-9">
            

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Nombre</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" value="{{docente.first_name}}" disabled>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Apellidos</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" value="{{docente.last_name}}" disabled>
                            </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email"value="{{docente.correo}}" disabled>
                            </div>
                      </div>

                      <div class="form-group">
                          
                        <div class="col-xs-6">
                            <label for="matricula"><h4>Matrícula</h4></label>
                            <input type="text" class="form-control" name="matricula" id="matricula" value="{{docente.matricula}}" disabled>
                        </div>
                    </div>
                          
                    <div class="form-group">
                          
                        <div class="col-xs-6">
                            <label for="phone"><h4>Teléfono</h4></label>
                            <input type="text" class="form-control" name="phone" id="phone" {% if docente.telefono == None %} value="No tiene registrado" {% else %} value="{{docente.telefono}}" {% endif %} disabled>
                            
                            
                                
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                          <label for="materias"><h4>Materias impartidas</h4></label>
                          <ul name="materias" id="materias">
                            {% if docente.materias != None %}
                                {% for materia in docente.materias %}
                                <a href="{% url 'preinscripciones:ver_materia' materia.id %}">
                                    {{materia.nombre}}
                                </a>
                                    <br>
                                {% endfor %}
                            {% else %}
                                No tiene materias actualmente
                            {% endif %}
                          </ul>
                        </div>
                    </div>
                      
             </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id='contenido-modal' class="modal-body">        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <form id='formEliminar' method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
<script>
    function muestraModal(url,tipo,usuario){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar al ${tipo} ${usuario}?`;
    }
</script>
{% endblock js %}