{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Lista Docentes
{% endblock titulo %}


{% block contenido %}
<h1 class="titulo">Lista de Docentes</h1>

<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Matricula</th>
        <th>Email</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        
        {% for docente in docentes %}
        <tr>
            <td>{{docente.first_name}}</td>
            <td>{{docente.last_name}}</td>
            <td>{{docente.matricula}}</td>
            <td>{{docente.correo}}</td>

            <td>
                <!-- acciones -->
                <a href="{% url 'docentes:editar_docente' docente.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'docentes:ver_docente' docente.id %}" class="btn btn-primary">Ver</a>
                {% if perms.auth.administrador_permiso %}
                        {% if grupo_admin in docente.groups.all %}
                            <a href="{% url 'docentes:quitar_admin' docente.id %}" class="btn btn-warning">Quitar Administrador</a>
                        {% else %}
                            <a href="{% url 'docentes:hacer_admin' docente.id %}" class="btn btn-primary">Hacer Administrador</a>
                        {% endif %}
                {% endif %}
                <button class="btn btn-danger" onclick="muestraModal('{% url 'docentes:eliminar_docente' docente.id %}','Docente', '{{docente.last_name}} {{docente.first_name}}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    <i class="glyphicon glyphicon-trash"></i>
                    Eliminar
                </button>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'docentes:nuevo_docente' %}" class="btn btn-primary">Nuevo Docente</a>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
            </div>
            <div id='contenido-modal' class="modal-body">        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <form id='formEliminar' method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block js %}
<script>
    function muestraModal(url,tipo,usuario){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar al ${tipo} ${usuario}?`;
    }
</script>
{% endblock js %}