{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        {% block css %}
          
        {% endblock css %}
        <title>
            {% block titulo %}
                
            {% endblock titulo %}
        </title>
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark propio-nav" style="margin-bottom: 0ex;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Pre-inscripciones CECS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                {% if perms.auth.administrador_permiso %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Aspirante
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if perms.auth.administrador_permiso %}
                      <li><a class="dropdown-item" href="{% url 'preinscripciones:lista_aspirantes_aceptados' %}">Lista</a></li>
                      <li><a class="dropdown-item" href="{% url 'preinscripciones:lista_aspirantes' %}">Pendientes</a></li>
                      <li><a class="dropdown-item" href="{% url 'preinscripciones:lista_aspirantes_rechazados' %}">Rechazados</a></li>
                    {% endif %}
                  </ul>
                </li>
                {% endif %}
                
                
                
                {% if perms.auth.administrador_permiso %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Docente
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'docentes:lista_docentes' %}">Lista</a></li>
                    <li><a class="dropdown-item" href="{% url 'docentes:nuevo_docente'%}">Nuevo Docente</a></li>
                  </ul>
                </li>
                {% endif %}
                
                {% if perms.auth.administrador_permiso %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Materias
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'preinscripciones:lista_materias' %}">Lista</a></li>
                    <li><a class="dropdown-item" href="{% url 'preinscripciones:nueva_materia' %}">Nueva Materia</a></li>
                  </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Grupos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'preinscripciones:lista_grupos' %}">Lista</a></li>
                      {% if perms.auth.administrador_permiso %}
                        <li><a class="dropdown-item" href="{% url 'preinscripciones:crear_grupo' %}">Nuevo Grupo</a></li>
                      {% endif %}
                  </ul>
                </li>
              </ul>
              <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form> -->
            </div>
            <div>
              <a class="nav-link" aria-current="page" style="color:white" href="{% url 'usuarios:logout' %}">Cerrar sesión</a>
            </div>
          </div>
        </nav>

        <div class="separador container-fluid">
        </div>
    
        <div class="contenido">
          {% block contenido %}
          
          {% endblock contenido %}
        </div>
          
          <div class="separador container-fluid">
          </div>

        
        {% block js %}

        {% endblock js %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        
        
          
      </div>
      </body>
      </html>