{% extends 'base2.html' %}
{% load static %}

{% block contenido %}

{% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
                    <p>{{message}}</p>
                </div>
            {% endfor %}
	    {% endif %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Iniciar Sesion</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                <form method="post" class="form-signin" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="email mb-3">
                        <label class="sr-only" for="signin-email">Usuario</label>
                        <input id="id_username" name="username" type="text" class="form-control signin-email" placeholder="Nombre de usuario" required="required">
                    </div><!--//form-group-->
                    <div class="password mb-3">
                        <label class="sr-only" for="signin-password">Password</label>
                        <input id="id_password" name="password" type="password" class="form-control signin-password" placeholder="Contraseña" required="required">
                        <div class="extra mt-3 row justify-content-between">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="RememberPassword">
                                    <label class="form-check-label" for="RememberPassword">
                                        Recordar
                                    </label>
                                </div>
                            </div><!--//col-6-->
                        </div><!--//extra-->
                    </div><!--//form-group-->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                    </div>
                </form>
            </div>
            <a href="{% url 'usuarios:signup_aspirante' %}" class="text-center new-account">Crear una cuenta </a>
        </div>
    </div>
</div>

</div><!--//row-->
{% endblock contenido %}   	



